.paused {
  animation-play-state: paused;
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
  animation-delay: 5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animate-marquee:hover {
  opacity: 1;
}
.find {
  color: red;
}
